################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GhostWin10Repair/.vs/GhostWin10Repair/v16
/GhostWin10Repair/obj/Debug
/GhostWin10Repair/bin/Debug
/GhostWin10Repair/obj/Release
/GhostWin10Repair/Output/GhostWin10Repair.pdb
/GhostWin10Repair/Output/GhostWin10Repair.exe.config
/GhostWin10Repair/Output/GhostWin10Repair.exe
/GhostWin10Repair/GhostWin10Repair.csproj.user
